/* use sass plz
.main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

img:hover {
    background-color: red;
    src: "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/151.png"
} */